In [4]:
#Fuentes de referencia
co2Link='https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison/'
areaLink='https://www.worldometers.info/world-population/population-by-country/'
precipitationLink='https://www.indexmundi.com/facts/indicators/AG.LND.PRCP.MM/rankings'

import pandas as pd
co2List=pd.read_html(co2Link,header=0,flavor='bs4')
areaList=pd.read_html(areaLink,header=0,flavor='bs4')
precipitationList=pd.read_html(precipitationLink,header=0,flavor='bs4')

In [5]:
co2=co2List[0]
area=areaList[0]
precipitation=precipitationList[0]

In [6]:
co2.shape,area.shape,precipitation.shape

((218, 4), (234, 12), (179, 4))

In [7]:
co2.columns,area.columns,precipitation.columns

(Index(['Rank', 'Country', 'metric tonnes of CO2', 'Date of Information'], dtype='object'),
 Index(['#', 'Country (or dependency)', 'Population  (2023)', 'Yearly  Change',
        'Net  Change', 'Density  (P/Km²)', 'Land Area  (Km²)',
        'Migrants  (net)', 'Fert.  Rate', 'Med.  Age', 'Urban  Pop %',
        'World  Share'],
       dtype='object'),
 Index(['Rank', 'Country', 'Value', 'Year'], dtype='object'))

In [8]:
area.rename(columns={'Country (or dependency)': 'Country'}, inplace=True)

In [9]:
area

,#,Country,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
1,2,China,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
2,3,United States,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
3,4,Indonesia,277534122,0.74 %,2032783,153,1811570,-49997,2.1,30.0,59 %,3.45 %
4,5,Pakistan,240485658,1.98 %,4660796,312,770880,-165988,3.3,21.0,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
230,231,Falkland Islands,3791,0.29 %,11,0,12170,0,1.6,40.0,62 %,0.00 %
231,232,Niue,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
232,233,Tokelau,1893,1.18 %,22,189,10,0,2.6,27.0,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,1295,0,0,NaN,NaN,N.A.,0.00 %

In [10]:
co2.merge(area,how='inner',left_on='Country',right_on='Country').shape

(191, 15)

In [11]:
co2.merge(area,how='left',left_on='Country',right_on='Country').shape

(218, 15)

In [12]:
co2.merge(area,how='outer',left_on='Country',right_on='Country').shape

(261, 15)

In [13]:
co2.merge(precipitation,how='inner',left_on='Country',right_on='Country').shape

(161, 7)

In [14]:
co2.merge(precipitation,how='left',left_on='Country',right_on='Country').shape

(218, 7)

In [15]:
co2.merge(precipitation,how='outer',left_on='Country',right_on='Country').shape

(236, 7)

In [16]:
area.merge(precipitation,how='inner',left_on='Country',right_on='Country').shape

(165, 15)

In [17]:
area.merge(precipitation,how='left',left_on='Country',right_on='Country').shape

(234, 15)

In [18]:
area.merge(precipitation,how='outer',left_on='Country',right_on='Country').shape

(248, 15)

In [19]:
set(co2.Country)-set(area.Country)

{'Antarctica',
 'Bahamas, The',
 'Burma',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 "Cote d'Ivoire",
 'Czechia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'Gambia, The',
 'Gaza Strip',
 'Jersey',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Macau',
 'Micronesia, Federated States of',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Turkey (Turkiye)',
 'Turks and Caicos Islands',
 'Virgin Islands',
 'Wake Island',
 'West Bank'}

In [20]:
set(area.Country)-set(co2.Country)

{'Andorra',
 'Anguilla',
 'Bahamas',
 'Caribbean Netherlands',
 'Congo',
 'Curaçao',
 'Czech Republic (Czechia)',
 "Côte d'Ivoire",
 'DR Congo',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'Gambia',
 'Guadeloupe',
 'Holy See',
 'Isle of Man',
 'Liechtenstein',
 'Macao',
 'Martinique',
 'Mayotte',
 'Micronesia',
 'Monaco',
 'Myanmar',
 'North Korea',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'San Marino',
 'Sao Tome & Principe',
 'Sint Maarten',
 'South Korea',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Tokelau',
 'Turkey',
 'Turks and Caicos',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara'}

In [21]:
set(co2.Country)-set(precipitation.Country)

{'American Samoa',
 'Antarctica',
 'Aruba',
 'Bahamas, The',
 'Bermuda',
 'British Virgin Islands',
 'Burma',
 'Cayman Islands',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 'Cook Islands',
 "Cote d'Ivoire",
 'Czechia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'French Polynesia',
 'Gambia, The',
 'Gaza Strip',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Hong Kong',
 'Jersey',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Macau',
 'Maldives',
 'Marshall Islands',
 'Micronesia, Federated States of',
 'Montenegro',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'Northern Mariana Islands',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Slovakia',
 'South Sudan',
 'Syria',
 'Taiwan',
 'Tonga',
 'Turkey (Turkiye)',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Virgin Islands',
 'Wake Island',
 'West Bank'}

In [22]:
set(precipitation.Country)-set(co2.Country)

{'Congo',
 'Czech Republic',
 "Côte d'Ivoire",
 "Dem. People's Rep. Korea",
 'Dem. Rep. Congo',
 'Korea',
 'Kyrgyz Republic',
 'Lao PDR',
 'Myanmar',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'The Bahamas',
 'The Gambia',
 'Turkey'}

In [23]:
set(precipitation.Country)-set(area.Country)

{'Czech Republic',
 "Dem. People's Rep. Korea",
 'Dem. Rep. Congo',
 'Korea',
 'Kyrgyz Republic',
 'Lao PDR',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'The Bahamas',
 'The Gambia'}

In [24]:
set(area.Country)-set(precipitation.Country)

{'American Samoa',
 'Andorra',
 'Anguilla',
 'Aruba',
 'Bahamas',
 'Bermuda',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Cook Islands',
 'Curaçao',
 'Czech Republic (Czechia)',
 'DR Congo',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'French Polynesia',
 'Gambia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Holy See',
 'Hong Kong',
 'Isle of Man',
 'Kiribati',
 'Kyrgyzstan',
 'Laos',
 'Liechtenstein',
 'Macao',
 'Maldives',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Micronesia',
 'Monaco',
 'Montenegro',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'San Marino',
 'Sao Tome & Principe',
 'Serbia',
 'Sint Maarten',
 'Slovakia',
 'South Korea',
 'South Sudan',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Syria',
 'Taiwan',
 'Tokelau',
 'Tonga',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara'}

In [25]:
cia=co2.merge(area,left_on='Country',right_on='Country')
cia

,Rank,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,211,Nauru,66000,2019 est.,224,12780,0.88 %,112,639,20,-140,3.4,20.0,88 %,0.00 %
187,213,Montserrat,33000,2019 est.,230,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
188,216,Niue,8000,2019 est.,232,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
189,217,Northern Mariana Islands,0,2019 est.,208,49796,0.49 %,245,108,460,-50,2.1,38.0,N.A.,0.00 %
190,218,Tuvalu,0,2019 est.,226,11396,0.74 %,84,380,30,-60,3.1,25.0,69 %,0.00 %

In [26]:
tar=cia.merge(precipitation,left_on='Country',right_on='Country')
tar

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,1,China,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,121,645.0,2017
1,2,United States,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %,110,715.0,2017
2,3,India,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,86,1083.0,2017
3,4,Russia,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %,144,460.0,2017
4,5,Japan,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,47,1668.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,195,Comoros,326000,2019 est.,163,852075,1.83 %,15301,458,1861,-2000,3.8,20.0,33 %,0.01 %,97,900.0,2017
157,196,Grenada,316000,2019 est.,194,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,17,2350.0,2014
158,198,Central African Republic,285000,2019 est.,117,5742315,2.92 %,163171,9,622980,-14716,5.8,15.0,40 %,0.07 %,67,1343.0,2017
159,201,Vanuatu,225000,2019 est.,183,334506,2.38 %,7766,27,12190,0,3.7,20.0,24 %,0.00 %,33,2000.0,2017
160,203,Dominica,182000,2019 est.,203,73040,0.42 %,303,97,750,-40,1.6,32.0,75 %,0.00 %,28,2083.0,2017

In [27]:
import os
country_isosLink='https://github.com/IntroCDE2023/EVALUACION-01/raw/main/country_isos.xlsx'
country_isos=pd.read_excel(os.path.join('country_isos.xlsx'))

In [28]:
country_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [29]:
#Error
eva=tar.merge(country_isos,left_on='Country',right_on='Country')
eva

Empty DataFrame
Columns: [Rank_x, Country, metric tonnes of CO2, Date of Information, #, Population  (2023), Yearly  Change, Net  Change, Density  (P/Km²), Land Area  (Km²), Migrants  (net), Fert.  Rate, Med.  Age, Urban  Pop %, World  Share, Rank_y, Value, Year, Officialstatename, InternetccTLD, iso2, iso3]
Index: []

[0 rows x 22 columns]

In [31]:
tar['Country']=tar['Country'].str.upper()

In [32]:
tar

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year
0,1,CHINA,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,121,645.0,2017
1,2,UNITED STATES,5144361000,2019 est.,3,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %,110,715.0,2017
2,3,INDIA,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,86,1083.0,2017
3,4,RUSSIA,1848070000,2019 est.,9,144444359,-0.19 %,-268955,9,16376870,-136414,1.5,39.0,75 %,1.80 %,144,460.0,2017
4,5,JAPAN,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,47,1668.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,195,COMOROS,326000,2019 est.,163,852075,1.83 %,15301,458,1861,-2000,3.8,20.0,33 %,0.01 %,97,900.0,2017
157,196,GRENADA,316000,2019 est.,194,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,17,2350.0,2014
158,198,CENTRAL AFRICAN REPUBLIC,285000,2019 est.,117,5742315,2.92 %,163171,9,622980,-14716,5.8,15.0,40 %,0.07 %,67,1343.0,2017
159,201,VANUATU,225000,2019 est.,183,334506,2.38 %,7766,27,12190,0,3.7,20.0,24 %,0.00 %,33,2000.0,2017
160,203,DOMINICA,182000,2019 est.,203,73040,0.42 %,303,97,750,-40,1.6,32.0,75 %,0.00 %,28,2083.0,2017

In [34]:
eva=tar.merge(country_isos,left_on='Country',right_on='Country')
eva

,Rank_x,Country,metric tonnes of CO2,Date of Information,#,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),...,Med. Age,Urban Pop %,World Share,Rank_y,Value,Year,Officialstatename,InternetccTLD,iso2,iso3
0,1,CHINA,10773248000,2019 est.,2,1425671352,-0.02 %,-215985,152,9388211,...,39.0,65 %,17.72 %,121,645.0,2017,The People's Republic of China,.cn,CN,CHN
1,3,INDIA,2314738000,2019 est.,1,1428627663,0.81 %,11454490,481,2973190,...,28.0,36 %,17.76 %,86,1083.0,2017,The Republic of India,.in,IN,IND
2,5,JAPAN,1103234000,2019 est.,12,123294513,-0.53 %,-657179,338,364555,...,49.0,94 %,1.53 %,47,1668.0,2017,Japan,.jp,JP,JPN
3,6,GERMANY,726881000,2019 est.,19,83294633,-0.09 %,-75210,239,348560,...,45.0,77 %,1.04 %,112,700.0,2017,The Federal Republic of Germany,.de,DE,DEU
4,9,CANADA,612084000,2019 est.,38,38781291,0.85 %,326964,4,9093510,...,41.0,81 %,0.48 %,137,537.0,2017,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,189,TIMOR-LESTE,538000,2019 est.,155,1360596,1.44 %,19300,91,14870,...,21.0,35 %,0.02 %,58,1500.0,2017,The Democratic Republic of Timor-Leste,.tl,TL,TLS
132,191,SAMOA,355000,2019 est.,189,225681,1.48 %,3299,80,2830,...,21.0,16 %,0.00 %,7,2880.0,2017,The Independent State of Samoa,.ws,WS,WSM
133,193,GUINEA-BISSAU,342000,2019 est.,148,2150842,2.15 %,45276,76,28120,...,19.0,45 %,0.03 %,53,1577.0,2017,The Republic of Guinea-Bissau,.gw,GW,GNB
134,194,SOLOMON ISLANDS,333000,2019 est.,166,740424,2.23 %,16151,26,27990,...,19.0,24 %,0.01 %,4,3028.0,2017,The Solomon Islands,.sb,SB,SLB
135,196,GRENADA,316000,2019 est.,194,126183,0.59 %,745,371,340,...,32.0,32 %,0.00 %,17,2350.0,2014,Grenada,.gd,GD,GRD

In [35]:
eva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank_x                136 non-null    int64
 1   Country               136 non-null    object
 2   metric tonnes of CO2  136 non-null    int64
 3   Date of Information   136 non-null    object
 4   #                     136 non-null    int64
 5   Population  (2023)    136 non-null    int64
 6   Yearly  Change        136 non-null    object
 7   Net  Change           136 non-null    int64
 8   Density  (P/Km²)      136 non-null    int64
 9   Land Area  (Km²)      136 non-null    int64
 10  Migrants  (net)       136 non-null    int64
 11  Fert.  Rate           136 non-null    float64
 12  Med.  Age             136 non-null    float64
 13  Urban  Pop %          136 non-null    object
 14  World  Share          136 non-null    object
 15  Rank_y                136 non-null    int64
 16  Value                 136 non-null    float64
 17  Year                  136 non-null    int64
 18  Officialstatename     136 non-null    object
 19  InternetccTLD         136 non-null    object
 20  iso2                  135 non-null    object
 21  iso3                  136 non-null    object
dtypes: float64(3), int64(10), object(9)
memory usage: 23.5+ KB

In [41]:
eva=eva.astype(object)

In [42]:
eva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank_x                136 non-null    object
 1   Country               136 non-null    object
 2   metric tonnes of CO2  136 non-null    object
 3   Date of Information   136 non-null    object
 4   #                     136 non-null    object
 5   Population  (2023)    136 non-null    object
 6   Yearly  Change        136 non-null    object
 7   Net  Change           136 non-null    object
 8   Density  (P/Km²)      136 non-null    object
 9   Land Area  (Km²)      136 non-null    object
 10  Migrants  (net)       136 non-null    object
 11  Fert.  Rate           136 non-null    object
 12  Med.  Age             136 non-null    object
 13  Urban  Pop %          136 non-null    object
 14  World  Share          136 non-null    object
 15  Rank_y                136 non-null    object
 16  Value                 136 non-null    object
 17  Year                  136 non-null    object
 18  Officialstatename     136 non-null    object
 19  InternetccTLD         136 non-null    object
 20  iso2                  135 non-null    object
 21  iso3                  136 non-null    object
dtypes: object(22)
memory usage: 23.5+ KB

In [46]:
columnas_a_eliminar=['Rank_x','Date of Information','#','Rank_y','Year',]

In [47]:
columnas_existentes = [col for col in columnas_a_eliminar if col in eva.columns]

In [48]:
eva=eva.drop(columnas_a_eliminar,axis=1)

In [49]:
eva

,Country,metric tonnes of CO2,Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Value,Officialstatename,InternetccTLD,iso2,iso3
0,CHINA,10773248000,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,645.0,The People's Republic of China,.cn,CN,CHN
1,INDIA,2314738000,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,1083.0,The Republic of India,.in,IN,IND
2,JAPAN,1103234000,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,1668.0,Japan,.jp,JP,JPN
3,GERMANY,726881000,83294633,-0.09 %,-75210,239,348560,155751,1.5,45.0,77 %,1.04 %,700.0,The Federal Republic of Germany,.de,DE,DEU
4,CANADA,612084000,38781291,0.85 %,326964,4,9093510,249746,1.5,41.0,81 %,0.48 %,537.0,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,538000,1360596,1.44 %,19300,91,14870,-5000,3.0,21.0,35 %,0.02 %,1500.0,The Democratic Republic of Timor-Leste,.tl,TL,TLS
132,SAMOA,355000,225681,1.48 %,3299,80,2830,-1500,3.8,21.0,16 %,0.00 %,2880.0,The Independent State of Samoa,.ws,WS,WSM
133,GUINEA-BISSAU,342000,2150842,2.15 %,45276,76,28120,-1400,3.8,19.0,45 %,0.03 %,1577.0,The Republic of Guinea-Bissau,.gw,GW,GNB
134,SOLOMON ISLANDS,333000,740424,2.23 %,16151,26,27990,-1600,3.9,19.0,24 %,0.01 %,3028.0,The Solomon Islands,.sb,SB,SLB
135,GRENADA,316000,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,2350.0,Grenada,.gd,GD,GRD

In [50]:
eva=eva.rename(columns=lambda x: x.strip() if isinstance(x, str) else x)

In [51]:
eva=eva.rename(columns=lambda x: x.strip().replace(' ', '_') if isinstance(x, str) else x)

In [52]:
eva

,Country,metric_tonnes_of_CO2,Population__(2023),Yearly__Change,Net__Change,Density__(P/Km²),Land_Area__(Km²),Migrants__(net),Fert.__Rate,Med.__Age,Urban__Pop_%,World__Share,Value,Officialstatename,InternetccTLD,iso2,iso3
0,CHINA,10773248000,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %,645.0,The People's Republic of China,.cn,CN,CHN
1,INDIA,2314738000,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %,1083.0,The Republic of India,.in,IN,IND
2,JAPAN,1103234000,123294513,-0.53 %,-657179,338,364555,99994,1.3,49.0,94 %,1.53 %,1668.0,Japan,.jp,JP,JPN
3,GERMANY,726881000,83294633,-0.09 %,-75210,239,348560,155751,1.5,45.0,77 %,1.04 %,700.0,The Federal Republic of Germany,.de,DE,DEU
4,CANADA,612084000,38781291,0.85 %,326964,4,9093510,249746,1.5,41.0,81 %,0.48 %,537.0,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,538000,1360596,1.44 %,19300,91,14870,-5000,3.0,21.0,35 %,0.02 %,1500.0,The Democratic Republic of Timor-Leste,.tl,TL,TLS
132,SAMOA,355000,225681,1.48 %,3299,80,2830,-1500,3.8,21.0,16 %,0.00 %,2880.0,The Independent State of Samoa,.ws,WS,WSM
133,GUINEA-BISSAU,342000,2150842,2.15 %,45276,76,28120,-1400,3.8,19.0,45 %,0.03 %,1577.0,The Republic of Guinea-Bissau,.gw,GW,GNB
134,SOLOMON ISLANDS,333000,740424,2.23 %,16151,26,27990,-1600,3.9,19.0,24 %,0.01 %,3028.0,The Solomon Islands,.sb,SB,SLB
135,GRENADA,316000,126183,0.59 %,745,371,340,-200,2.0,32.0,32 %,0.00 %,2350.0,Grenada,.gd,GD,GRD

In [53]:
columnas_a_eliminar=['Population__(2023)','Yearly__Change','Net__Change','Density__(P/Km²)','Migrants__(net)','Fert.__Rate','Med.__Age','Urban__Pop_%','World__Share']

In [54]:
columnas_existentes = [col for col in columnas_a_eliminar if col in eva.columns]

In [55]:
eva=eva.drop(columnas_a_eliminar,axis=1)

In [56]:
eva

,Country,metric_tonnes_of_CO2,Land_Area__(Km²),Value,Officialstatename,InternetccTLD,iso2,iso3
0,CHINA,10773248000,9388211,645.0,The People's Republic of China,.cn,CN,CHN
1,INDIA,2314738000,2973190,1083.0,The Republic of India,.in,IN,IND
2,JAPAN,1103234000,364555,1668.0,Japan,.jp,JP,JPN
3,GERMANY,726881000,348560,700.0,The Federal Republic of Germany,.de,DE,DEU
4,CANADA,612084000,9093510,537.0,Canada,.ca,CA,CAN
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,538000,14870,1500.0,The Democratic Republic of Timor-Leste,.tl,TL,TLS
132,SAMOA,355000,2830,2880.0,The Independent State of Samoa,.ws,WS,WSM
133,GUINEA-BISSAU,342000,28120,1577.0,The Republic of Guinea-Bissau,.gw,GW,GNB
134,SOLOMON ISLANDS,333000,27990,3028.0,The Solomon Islands,.sb,SB,SLB
135,GRENADA,316000,340,2350.0,Grenada,.gd,GD,GRD

In [57]:
eva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               136 non-null    object
 1   metric_tonnes_of_CO2  136 non-null    object
 2   Land_Area__(Km²)      136 non-null    object
 3   Value                 136 non-null    object
 4   Officialstatename     136 non-null    object
 5   InternetccTLD         136 non-null    object
 6   iso2                  135 non-null    object
 7   iso3                  136 non-null    object
dtypes: object(8)
memory usage: 8.6+ KB

In [58]:
nuevo_orden_columnas = ['Country','Officialstatename','InternetccTLD','iso2','iso3','Land_Area__(Km²)','metric_tonnes_of_CO2','Value']

In [59]:
eva=eva[nuevo_orden_columnas]

In [60]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Land_Area__(Km²),metric_tonnes_of_CO2,Value
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0

In [61]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Land_Area__(Km²),metric_tonnes_of_CO2,Value
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0

In [62]:
nuevos_nombres = ['Country','Officialstatename','InternetccTLD','iso2','iso3','Area(Km²)','CO2_emissions(ton)','Precipitation']

In [63]:
eva.columns=nuevos_nombres

In [64]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Area(Km²),CO2_emissions(ton),Precipitation
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0

In [65]:
eva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             136 non-null    object
 1   Officialstatename   136 non-null    object
 2   InternetccTLD       136 non-null    object
 3   iso2                135 non-null    object
 4   iso3                136 non-null    object
 5   Area(Km²)           136 non-null    object
 6   CO2_emissions(ton)  136 non-null    object
 7   Precipitation       136 non-null    object
dtypes: object(8)
memory usage: 8.6+ KB

In [66]:
nombre_columna = 'Area(Km²)'

In [67]:
eva[nombre_columna] = eva[nombre_columna].astype('int64')

In [68]:
nombre_columna ='CO2_emissions(ton)'

In [69]:
eva[nombre_columna] = eva[nombre_columna].astype('int64')

In [70]:
nombre_columna ='Precipitation'

In [71]:
eva[nombre_columna] = eva[nombre_columna].astype('float64')

In [72]:
eva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             136 non-null    object
 1   Officialstatename   136 non-null    object
 2   InternetccTLD       136 non-null    object
 3   iso2                135 non-null    object
 4   iso3                136 non-null    object
 5   Area(Km²)           136 non-null    int64
 6   CO2_emissions(ton)  136 non-null    int64
 7   Precipitation       136 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 8.6+ KB

In [73]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Area(Km²),CO2_emissions(ton),Precipitation
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0

In [74]:
print(eva.isnull().sum())

Country               0
Officialstatename     0
InternetccTLD         0
iso2                  1
iso3                  0
Area(Km²)             0
CO2_emissions(ton)    0
Precipitation         0
dtype: int64

In [75]:
print(eva.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             136 non-null    object
 1   Officialstatename   136 non-null    object
 2   InternetccTLD       136 non-null    object
 3   iso2                135 non-null    object
 4   iso3                136 non-null    object
 5   Area(Km²)           136 non-null    int64
 6   CO2_emissions(ton)  136 non-null    int64
 7   Precipitation       136 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 8.6+ KB
None

In [76]:
eva = eva.dropna()

In [77]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Area(Km²),CO2_emissions(ton),Precipitation
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0

In [78]:
print(eva.isnull().sum())

Country               0
Officialstatename     0
InternetccTLD         0
iso2                  0
iso3                  0
Area(Km²)             0
CO2_emissions(ton)    0
Precipitation         0
dtype: int64

In [79]:
eva = eva.drop_duplicates()

In [80]:
eva

,Country,Officialstatename,InternetccTLD,iso2,iso3,Area(Km²),CO2_emissions(ton),Precipitation
0,CHINA,The People's Republic of China,.cn,CN,CHN,9388211,10773248000,645.0
1,INDIA,The Republic of India,.in,IN,IND,2973190,2314738000,1083.0
2,JAPAN,Japan,.jp,JP,JPN,364555,1103234000,1668.0
3,GERMANY,The Federal Republic of Germany,.de,DE,DEU,348560,726881000,700.0
4,CANADA,Canada,.ca,CA,CAN,9093510,612084000,537.0
...,...,...,...,...,...,...,...,...
131,TIMOR-LESTE,The Democratic Republic of Timor-Leste,.tl,TL,TLS,14870,538000,1500.0
132,SAMOA,The Independent State of Samoa,.ws,WS,WSM,2830,355000,2880.0
133,GUINEA-BISSAU,The Republic of Guinea-Bissau,.gw,GW,GNB,28120,342000,1577.0
134,SOLOMON ISLANDS,The Solomon Islands,.sb,SB,SLB,27990,333000,3028.0
135,GRENADA,Grenada,.gd,GD,GRD,340,316000,2350.0